body {
  font-family: sans-serif;
  padding: 20px;
}

#hoverBox {
  margin: 10px 0;
  padding: 20px;
  background-color: #eee;
  width: 200px;
}

.tab-content {
  margin-top: 10px;
}

.error 
  color: red;
}
.success {
  color: green;
}
